[Unit]
Description=Home Assistant to RVC CAN Bus Monitor
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/home/pi/src/rvc2hass/hass2rvc.pl
User=pi
Group=pi
Restart=on-failure
RestartSec=10s
WatchdogSec=30s
# 30 seconds, systemd expects this in microseconds
Environment="WATCHDOG_USEC=30000000"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
